{% extends 'PizzeriaTestBundle::layout.html.twig' %}
{% block titledins  %}Pizza list{% endblock %}
{% block dins -%}


    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>              
                <th>Ingredients</th>
                <th>Sellingprice</th>
                <!--  <th>Actions</th>-->
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('pizza_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>

                    <td>{% for ingredient in entity.ingredients %}
                        {{ ingredient.name }}
                    {% endfor %}
                </td>
                <td><b>{{ entity.sellingPrice }}€</b></td>
                <!--<td>
                    <ul>
                        <li>
                            <a href="{{ path('pizza_show', { 'id': entity.id }) }}">show</a> / <a href="{{ path('pizza_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>-->
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endblock %}
